# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Test artifacts
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
*.log
*.pid
*.out
*.err

# MyPy
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# MacOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# PyInstaller
*.spec

# Other
*.bak
*.tmp
*.orig
